{% load static %}
{% load custom_dict_filter %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>I-Gene</title>
    <link rel="stylesheet" href="{% static 'css/leave/leavepage.css' %}">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel='stylesheet' href=https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css>    
    <script type="text/javascript" src="{% static 'utilities/js/requestservices.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/leave/leaveservices.js' %}"></script>   
  
</head>

<body>
    <nav class="nav-first navbar navbar-expand-sm navbar-fixed navbar-dark">
        <a class="navbar-brand" href="#">I Gene</a>

        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li class="nav-item ">
                    <a class="nav-link " href="/projects/dashboard">Projects</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item ">
                    <a class="nav-link" href="/accounts/logout">Log Out </a>
                </li>

            </ul>

        </div>
    </nav>
    <div class="nav-sec navbar-dark shadow-sm">
        <nav class="nav nav-underline">
            <a class="nav-link active" href="#tab1" data-toggle="tab">Production Days</a>
            <a class="nav-link" id="shot-link" href="#tab2" data-toggle="tab">I-gene Holidays</a>
        </nav>
    </div>



    <main role="main" class="mainpanel">
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">

                <div class="row" style="width:100%;margin-left:0px;margin-top:8px;margin-right:0px;">
                    {% for i in range %}
                    <div class="calendar">
                    <div class="calendar-panel">
                        <div class="cal-panel-header">
                            <span>{{ months|get_month_from_list:i }}</span>
                        </div>
                        <div class="cal-panel-body">
                            <table>
                                <thead>
                                    <td>Mo</td>
                                    <td>Tu</td>
                                    <td>We</td>
                                    <td>Th</td>
                                    <td>Fr</td>
                                    <td>Sa</td>
                                    <td>Su</td>
                                </thead>
                                <tbody>
                                    {% for weeks in month_days|get_item:i %}
                                       
                                        <tr class="week-row">
                                            {% for weekday in weeks %}
                                                {% if weekday == None %}
                                                    <td class="empty-cell">
                                                        &nbsp;
                                                    </td>
                                                {% else %}
                                                    {% if weekday.isoweekday == 7 %}
                                                    {% if weekday in igene_day_leaves %}
                                                    <td class="weekday-cell igene-cell" data-date="{{ weekday|date:"Y-m-d" }}" data-issunday=true data-weekday-hol=true>
                                                        {{ weekday|date:"d" }}
                                                    </td>  
                                                    {% else %}
                                                    <td class="weekday-cell holiday-cell" data-date="{{ weekday|date:"Y-m-d" }}" data-issunday=true data-weekday-hol=false >
                                                        {{ weekday|date:"d" }}
                                                    </td>  
                                                    {% endif %}

                                                    {% else %}
                                                        {% if weekday in weekend_leaves or  weekday in igene_day_leaves %}
                                                            {% if weekday in weekend_leaves %}
                                                                <td class="weekday-cell weekend-cell" data-date="{{ weekday|date:"Y-m-d" }}" data-weekend-hol=true data-weekday-hol=true >
                                                                    {{ weekday|date:"d" }}
                                                                </td>  
                                                            {% else %}
                                                                <td class="weekday-cell igene-cell" data-date="{{ weekday|date:"Y-m-d" }}" data-weekend-hol=false data-weekday-hol=true >
                                                                    {{ weekday|date:"d" }}
                                                                </td>  
                                                            {% endif %}                                                        
                                                        {% else %}
                                                        <td class="workday-cell weekday-cell" data-date="{{ weekday|date:"Y-m-d" }}" data-weekend-hol=false data-weekday-hol=false >
                                                            {{ weekday|date:"d" }}
                                                        </td>
                                                        {% endif %}
                                                    {% endif %}

                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                       
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="">
                    <table>
                        <tbody>
                            <tr>
                                <td>Working days</td><td>{{ total_days }}</td> <td><div style="height: 15px;width: 15px;background-color:#51a451;"></div></td>                              
                            </tr>
                            <tr>                               
                                <td>Igene Holidays</td><td>{{ igene_day_leaves|length }}</td> <td><div style="height: 15px;width: 15px;background-color:#ff9800;"></div></td>                                
                            </tr>
                            <tr>                            
                                <td>Weekend Holidays</td><td>{{ weekend_leaves|length }}</td> <td><div style="height: 15px;width: 15px;background-color:#dff904;"></div></td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>


            <div class="tab-pane " id="tab2">
                <div class="page_title">
                    <div class="pt_container">
                        <div class=pt_row>
                            <div class=pt_title>
                                <span>I-Gene Holidays</span>
                            </div>
                            <div class="pt_act"></div>
                        </div>
                    </div>
                </div>
                <div class="contents">
 
                    <div class="">
                        <form id="assignform" class="form-inline">
                            <label class="mr-2" for="hol_date">Date</label>
                            <input id="hol_date" name="date" type="date" style="height: 38px;"/>                            
                                                     
                            <label class="mr-2" for="hol-name">Name:</label>
                            <input type="text" name="name" style="width: 100px;" class="form-control mr-sm-2"
                            id="hol-name" placeholder="hol-name"/> 
                            <input type="hidden" name="leave_type" value="I_GENE_HLDAY"> 
    
                            <button id="igene_hol_submit" type="submit" class="btn btn-primary mb-2">Submit</button>
                        </form>                        
                    </div>
                    <div class="">
                        <table class="">
                            <thead>
                                <td>S.NO.</td>
                                <td>Date</td>
                                <td>Name</td>
                            </thead>
                            <tbody>
                                {% for igene_day in igene_holidays %}
                                <tr>
                                    <td>{{ forloop.counter }}</td><td>{{ igene_day.date }}</td><td>{{ igene_day.name }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>       
                </div>
            </div>


        </div>
    </main>
    <div class="modal fade" id="confirm-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Dialog</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body confirm-dlg-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="rejectbutton" data-dismiss="modal">cancel</button>
                    <button type="button" id="confirmbutton" class="btn btn-danger">ok</button>
                </div>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <meta name="theme-color" content="#563d7c">
    
   
   

  
    <script type="text/javascript" src="{% static 'js/leave/leavedays.js' %}"></script>


</body>

</html>